:root{
  --primary:#facc15;
  --bg-dark:radial-gradient(circle at top,#1f1f1f 0%,#0a0a0a 55%,#000 100%);
}

/* BASE */

body{
  background:var(--bg-dark);
  color:#fff;
}

/* LIGHT */

body[data-theme="light"]{
  background:#f3f4f6;
  color:#111;
}

/* CARDS */

body[data-theme="light"] .card{
  background:#fff;
  border:1px solid rgba(0,0,0,.08);
  box-shadow:0 10px 25px rgba(0,0,0,.08);
}

/* MENU */

body[data-theme="light"] .menu{
  background:#fff;
  color:#111;
}

body[data-theme="light"] .menu-item{
  border-bottom:1px solid rgba(0,0,0,.08);
}

body[data-theme="light"] .menu-item:hover{
  background:#f3f4f6;
}

/* MODAL */

body[data-theme="light"] .modal{
  background:rgba(0,0,0,.35);
}

body[data-theme="light"] .modal-content{
  background:#fff;
  color:#000;
  border:1px solid rgba(0,0,0,.1);
}

/* INPUT */

body[data-theme="light"] textarea,
body[data-theme="light"] .select{
  background:#f9fafb;
  color:#111;
  border:1px solid rgba(0,0,0,0.1);
}

/* VEÍCULO */

body[data-theme="light"] .rf-modal{
  background:rgba(0,0,0,.35);
}

body[data-theme="light"] .rf-modal-content{
  background:#fff;
  color:#000;
}

body[data-theme="light"] .rf-option:hover{
  background:#f2f2f2;
}

/* HEADER */

body[data-theme="light"] .top-white{
  background:#fff;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}